################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TVSI.XTRADE.BO.API/bin/Debug/net6.0
/TVSI.XTRADE.BO.API/Logs
/TVSI.XTRADE.BO.API/logs
/TVSI.XTRADE.BO.API/obj
/TVSI.XTRADE.BO.API.Common/bin/Debug/net6.0
/TVSI.XTRADE.BO.API.Common/obj
/TVSI.XTRADE.BO.API.Models/bin/Debug/net6.0
/TVSI.XTRADE.BO.API.Models/obj
/TVSI.XTRADE.BO.API.Services/bin/Debug/net6.0
/TVSI.XTRADE.BO.API.Services/obj
/TVSI.XTRADE.BO.API/bin/Release/net6.0
/TVSI.XTRADE.BO.API/Properties/PublishProfiles
/TVSI.XTRADE.BO.API.Common/bin/Release/net6.0
/TVSI.XTRADE.BO.API.Models/bin/Release/net6.0
/TVSI.XTRADE.BO.API.Services/bin/Release/net6.0
/TVSI.XTRADE.BO.DAL/obj
/.vscode
/TVSI.XTRADE.BO.API.DAL/bin/Debug/net6.0
/TVSI.XTRADE.BO.API.DAL/obj
/TVSI.XTRADE.BO.API.DAL/bin/Release/net6.0
/TVSI.XTRADE.BO.API/Files/Export
/TVSI.XTRADE.BO.API/Template/Export/~$LICH_SU_LENH.xlsx
/TVSI.XTRADE.BO.API/Files
