<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div style='width: 100%'>
        <table style='padding: 0; width: 850px; line-height: 100%; margin: 0 auto; text-align: justify'>
            <tbody>
                <tr>
                    <td>
                        <img src='https://www.tvsi.com.vn/images/logo.svg?v=1.1'>
                    </td>
                    <td style='text-align: right; padding-right: 5px'>
                        <p style="font-family: Arial; font-size: 14pt; font-weight: bold; margin: 0px">iTrade Home</p>
                        <p style='font-family: Arial; font-size: 11pt; font-style: italic; margin-top: 5px'>Cấp lại Pin - New Pin</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                        <p>
                            <span style="font-size: 10pt; font-family: 'Arial','sans-serif';"> Kính gửi Quý khách <i>(Dear Mr./Ms.)</i> {CustName},</span>
                        </p>
                        <p>
                            <span style="font-size: 10pt; font-family:'Arial','sans-serif';">
                                Mật khẩu truy cập iTrade Home cho tài khoản <i><span style="color:#ff0000;">044C{CustId}</span></i> của Quý khách đã được khởi tạo lại.<br>
                                <i>(Your password to TVSI iTrade Home account has been reset).</i>
                             </span>
                        </p>
                        <p style="padding-left:10px; font-weight:normal; line-height:25px; font-family:Arial ,sans-serif;font-size: 10pt;">
                            + <i><b>Tên đăng nhập (Username): </b> <span style="color:#ff0000;">{CustId}</span></i> <br />
							+ <i><b>Mã Pin mới (New Pin):</b> <span style="color:#ff0000;"> {NewPin} </span></i><br />
                            + <i><b> Ngày có hiệu lực (Effective date): </b><span style="color:#ff0000;"> {EffDate} </span></i><br />
                        </p>
                       
                        <p>
                            <span style="font-size: 10pt; font-family: Arial, sans-serif;">
                                Quý khách có thể truy cập iTrade Home và tham khảo hướng dẫn sử dụng theo đường dẫn dưới đây<br/>
                                (<i>You can access iTrade Home and consult the manual by clicking on the link below:</i>):
                            </span>
                        </p>
                       
                        <p class='m_8149734744007551649MsoNormalCxSpFirst' style="text-align: justify">
                           <span style="font-size: 10pt; font-family: Arial, sans-serif; color: blue; font-weight: bold;"> Truy cập iTrade Home tại địa chỉ(<i>access iTrade Home at</i>):</span>
                            <a href="https://itrade-home.tvsi.com.vn/" target='_blank' data-saferedirecturl='https://itrade-home.tvsi.com.vn'>itrade-home.tvsi.com.vn</a>
                        </p>

                        <p>
                            <span style="font-size: 10pt; font-family: Arial, sans-serif;">
                               <b>Lưu ý:</b><i> Một số chức năng liên quan tới thông tin tài khoản của Quý khách sẽ có hiệu lực sau một ngày kể từ khi tài khỏan được đăng ký</i><br>
                                <i>(There are some functions will become effective one day after your account being registered)</i>
                            </span>
                        </p>
                        <p class="MsoNormal" style="text-align: justify">
                            <span style="font-size: 10pt; font-family: 'Arial' ,'sans-serif'; text-align: left">
                                Quý khách cần hỗ trợ xin vui lòng gọi <b>Trung tâm Dịch vụ Khách hàng 1900 1885</b>.
                                <br><i>If you have any support, please call Contact Center </i><b>1900 1885.</b>
                            </span>
                        </p>
                        <p class="MsoNormal" style="text-align: justify">
                            <span style="font-size: 10pt; font-family: 'Arial' ,'sans-serif'; text-align: left">
                                Chứng khoán Tân Việt (TVSI) trân trọng cảm ơn Quý khách đã sử dụng dịch vụ của công ty chúng tôi.<br>
                                <i>Thank you for choosing to open your account at TVSI</i>.
                            </span>
                        </p>
                        <p class="MsoNormal" style='margin: 6pt 0in; text-align: justify'>
                            <span style="font-size: 10pt; font-family: 'Arial' ,'sans-seri'; text-align: left">
                                Trân trọng.
                                <br>Best regards.
                            </span>

                        </p>
                        <p class="MsoNormal" style="text-align: justify">
                            <span style="font-size: 10pt; font-family: 'Arial' ,'sans-serif'; text-align: left">
                                <b>Trung tâm dịch vụ khách hàng – <i>Contact Center</i></b>
                            </span>
                        </p>
                        <p class="MsoNormal" style="text-align: justify">
                            <span style="font-size: 7.5pt; font-family: 'Arial' ,'sans-serif'; color: rgb(115,115,115); text-align: left">
                                This email and any attachment is intended for use only by specified addressees and may contain legally privileged and/or confidential information.  If you are not an intended recipient, please delete the original and any copy of this message, notify the writer by email or telephone at 1900 1885 or (024) 3728 1818 and accept our apologies for any inconvenience..<br>&nbsp;<br>
                                * Please consider the environment before you print this email.

                            </span><span style="font-size: 10pt; font-family: 'Arial' ,'sans-serif';"></span>
                        </p>
                    </td>
                </tr>
                <tr style="background-color: #ff0000; height: 70px; color: #ffffff; padding: 5px 0px 5px 5px;">
                    <td colspan="2">
                        <table style="padding: 0; margin: 0; width: 100%; height: 70px" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr style="height: 70px">
                                    <td style="color: #ffffff; font-family: Arial;font-weight:bold; font-size: 11pt; border-right: 1px #ffffff solid; padding: 0px 0px 0px 10px; text-align: center; vertical-align: middle;">CHỨNG KHOÁN TÂN VIỆT</td>
                                    <td style="color: #ffffff; font-family: Arial;font-size:9pt; border-right: 1px #ffffff solid; padding: 0px 0px 0px 10px;">
                                        <b>Trụ sở chính:</b><br>
                                        Tầng 6, 79 Lý Thường Kiệt, Hoàn Kiếm, Hà Nội<br>Điện thoại: (024) 3728 0921 * Fax: (024) 3728 0920
                                    </td>
                                    <td style="color: #ffffff; font-family: Arial;font-size:9pt; padding: 0px 0px 0px 10px;">
                                        <b>Trung tâm DVKH: 1900 1885</b><br>
                                        Email: <a href="mailto:contact@tvsi.com.vn" style="color: #ffffff; text-decoration: none;" target="_blank">contact@tvsi.com.vn</a><br>
                                        <a href="http://www.tvsi.com.vn" style="color: #ffffff; text-decoration: none;" target="_blank" data-saferedirecturl="https://www.tvsi.com.vn">www.tvsi.com.vn</a>
                                    </td>
                                    <td style="background-color: #ffffff; padding: 0px 5px 0px 5px; text-align: right; width: 55px;">
                                        <img src="https://itrade-home.tvsi.com.vn/Content/tvsi/Images/mail/QRCode.png" class="CToWUd">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
